<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
</head>
<body>
<div id="st-container" class="st-container">
    {% block content %}
    <h1>Customer Login</h1>
    <form action="/vasubank/details/" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <p>Invalid Credentials</p>
        {% endif %}
        <input type="hidden" value={{ id }} name="id">
        <input placeholder='Login ID' type='text' name="username">
        <input placeholder='Password' type='password' name="password">
        <button type="submit">LOGIN</button>
    </form>
    {% endblock %}
</div>
</body>
</html>